/obj
/jos.in
/jos.log
/jos.out
/jos.out.*
/jos.cmd
/.gdbinit
/wget.log
/qemu.pcap
/qemu.pcap.*
/qemu.out
/qemu.log
/gradelib.pyc
/lab*-handin.tar.gz
/lab?/
/sol?/
/myapi.key
/.suf
*/xv6-public/*~
*/xv6-public/*_*
*/xv6-public/*.o
*/xv6-public/*.d
*/xv6-public/*.asm
*/xv6-public/*.sym
*/xv6-public/*.img
*/xv6-public/*vectors.S
*/xv6-public/*bootblock
*/xv6-public/*entryother
*/xv6-public/*initcode
*/xv6-public/*initcode.out
*/xv6-public/*kernel
*/xv6-public/*kernelmemfs
*/xv6-public/*mkfs
*/xv6-public/*.gdbinit
